html, 
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

/* 
* Menu
*/

nav {
    background-color: #638889;
    color: #FC819E;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}

.menu {
    width: 50%;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.menu > ul > li > a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    height: 80px;

}

/* 
* Hero / Jumbotron
*/

header {
    background-color: #F9EFDB;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header-opacity {
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.header-jumbotron {
    position: absolute;
    top: 0;
    left: 40px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
}

.header-jumbotron > h4 {
    color: #638889;
    margin: 0px;
    padding: 0px;
    font-size: 3.2rem;
}

